body {
  background-color: rgb(250, 255, 253);
}

.page-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  text-align: center;
}

.search-bar {
  width: 50%;
  height: 100px;
  margin: auto;
  background-color: aqua;
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  border-radius: .5rem;
}

.search-bar .search-field {
  width: 100%;
}

.search-bar .search-field input {           
  width: 90%;
  height: 100%;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: .5rem;
  border: none;
}

.search-bar img {
  width: 5%;
  cursor: pointer;
}